<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-success" [routerLink]="['/home']">E-commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/about']" routerLinkActive="active" >About-Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/contact']" routerLinkActive="active" >Contact-Us</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/products']" routerLinkActive="active" >Products</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/product/add']" routerLinkActive="active" >AddNewProducts</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/register']" routerLinkActive="active" >Register</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 ">
            <li class="nav-item"  [hidden]="isLoged">
              <a class="nav-link text-success"  [routerLink]="['/login']" routerLinkActive="active" >Login</a>
            </li>
  
            <li class="nav-item" [hidden]="!isLoged">
              <a class="nav-link text-success"  [routerLink]="['/login']" routerLinkActive="active" >Logout</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>