<form [formGroup]="userRegisterForm" class="my-5 p-5 w-50 m-auto border border-success rounded" (ngSubmit)="register()">
    <h1 class="text-center">User Register</h1>

      <div class="form-group mb-4">
        <label>Name: </label>
        <input formControlName="name" type="text" class="form-control" name="name" placeholder="Name"  />
      </div>
      @if(getName?.touched ){ 
        @if (getName?.errors?.['required']) {
            <div class="my-3">
              <span class="text-danger alert alert-danger">Name Is Required</span>
            </div>
        }
      }
  
      <div class="form-group mb-4">
        <label>Email: </label>
        <input formControlName="email" type="text" class="form-control" name="email"  placeholder="Email"  />
      </div>
      @if(getEmail?.touched ){ 
        @if (getEmail?.errors?.['required']) {
            <div class="my-3">
              <span class="text-danger alert alert-danger">Email Is Required</span>
            </div>
        }
        @if (getEmail?.errors?.['pattern']) {
            <div class="my-3">
              <span class="text-danger alert alert-danger">Email Must Be min 3 letters and max 15 </span>
            </div>
        }
      }
  
      <div class="form-group mb-4">
        <label>Password: </label>
        <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password" />
      </div>
      @if(getPassword?.touched ){ 
        @if (getPassword?.errors?.['required']) {
            <div class="my-3">
              <span class="text-danger alert alert-danger">Password Is Required</span>
            </div>
        }
        @if (getPassword?.errors?.['pattern']) {
            <div class="my-3">
              <span class="text-danger alert alert-danger">Password Not Match The Pattern Must Be min 3 letters and max 15</span>
            </div>
        }
      }

      <div formGroupName="address" class="d-flex justify-content-between">
        <div class="form-group mb-4  ">
            <label>City: </label>
            <input formControlName="city" type="text" class="form-control" name="city" placeholder="City" />
          </div>
    
          <div class="form-group mb-4  ">
            <label>Street Number: </label>
            <input formControlName="streetNumber" type="number" class="form-control" name="streetNumber" placeholder="Street Number" />
          </div>
      </div>

      <ng-container formArrayName="phones" >
          <label class="d-block">Phones: </label>
          <div class="form-group mb-4 ">
            @for (phone of phones.controls; track $index) {
                <input [formControlName]="$index" type="number" class="form-control d-inline w-25" name="phone" placeholder="Add Phone"  />
                <button (click)="removePhone($index)" class="btn btn-outline-warning">-</button>
            }
            <button class="btn btn-outline-success" (click)="addPhoneNumber()">+</button>
          </div>
      </ng-container>

      <!-- <h1>{{userRegisterForm.value | json}}</h1> -->

      <button [disabled]="userRegisterForm.invalid" type="submit" class="btn btn-success btn-lg btn-block" >Register</button>
  </form>
  